.close-button {
    height: 40px;
    width: 40px;
    background-color: green;
    padding: 10px;

    &__container {
        background-color: white;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        background-color: gray;
        height: 2.5px;
        width: 12.5px;
        transform: rotate(45deg);
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            background-color: gray;
            height: 2.5px;
            width: 12.5px;
            left: 0%;
            transform: rotate(90deg);
        }
    }
}
