//!FONTS
$font-Lora-Primary: "Lora";
$font-Pt-Sans-Secondary: "PT Sans";
$font-LonCang-HandWriting: "Long Cang";
$font-Muli: "Muli";
$font-DancingScript: 'Dancing Script', cursive;
$font-JosefinSans: 'Josefin Sans', sans-serif;
$font-Nunito: 'Nunito', sans-serif;
//!FONT-SIZES
$regular-font: 1.6rem;
//!COLORS
$color-black: black;
$color-white: white;
$color-GhostWhite: GhostWhite;
$color-MinGrey: Gainsboro;
$color-DarkGrey: #363636;
$color-red: red;
$color-blod-red: DarkRed;
$color-green: green;
$color-lime: LimeGreen;
$color-DarkOliveGreen: DarkOliveGreen;
$color-brown: #703b09;
$color-mustard: DarkGoldenrod;
//!COLORS TRANSPARENT
$color-red-transparent: rgba(255, 0, 0, 0.5);
$color-DarkOliveGreen-transparent: rgba(85, 107, 47, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-transparent: rgba(0, 0, 0, 0);
//!BOX SHADOWS
$shadow-small: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);


//!COLORS PALLETES
//! Use it like so: 
//?map-get($palete1, color-primary)
$palete1: (
    color-primary: #a6d1c9,
    color-secondary: #e83c38
);
$palete2: (
    color-primary: #a6d1c9,
    color-secondary: #282b29
);

$palete3: (
    color-primary: #f4c4c4,
    color-secondary: #282b29
);

$palete4: (
    color-primary: #ebeded,
    color-secondary: #e83c38
);

$palete4: (
    color-primary: #00a19a,
    color-secondary: #ebeded
);

//!MAP AND FOR LOOP EXAMPLES
//!EXAMPLE 1
$colors: (
    1: red,
    2: green,
    3: blue,
    4: orange
);

@for $i from 1 through 4 {
    .paragraph-#{$i} {
        background-color: map-get($colors, $i);
    }
}
//!EXAMPLE 2
$cores: red green blue orange;

@each $cor in $cores {
    .pagragraph-#{$cor} {
        background-color: $cor;
    }
    
}
//!IF ELSE
@mixin headingSize ($size) {
    @if ($size == large) {
        font-size: 45px;
    } @else if($size == medium) {
        font-size: 30px;
    } @else {
        font-size: 15px;
    }
}

// h1 {
//     @include headingSize(large);
// };


