@import '../../sass/variables';

.breadcrum {
    height: 40px;
    width: auto;
    position: absolute;
    top: 7px;
    right: -500px;
    border-radius: 8px 0px 0px 8px;
    background-color: #04b31c;

    font-family: $openSans;
    
    display: grid;
    grid-template-columns: 1fr 40px;
    
    transition: all 0.5s ease-in-out;
    
    &__title {
        font-family: $openSans;
        height: 40px;
        padding: 0px 24px 0px 11px;
        grid-column: 1 / span 1;
        color: #ffffff;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        grid-column: 2 / span 1;
        color: #ffffff;
        background-color: #04b31c;
    }

    &__visible {
        right: 0px;
    }
}
