.error-msg {
    height: 17px;
    width: 150px;
    color: #E22F01;
    font-size: 12px;
    text-align: left;
    transition: all 0.2s ease-in-out;
    // display: none;
    opacity: 0%;
    
    &__visible {
        // display: block;
        opacity: 90%;
    }
}